:root {
  --feed: "mm/min";
  --metric: "mm/min";
  --inches: "inch/min";
  --toolImage: url(./images/mill-image.png);
  --millImage: url(./images/mill-image.png);
  --drillImage: url(./images/drill-image.png);
  --transition: all .5s;
  --theme-bg: #E0DECA;
  --dark-bg: #1B2430;
  --light-bg: #E0DECA;
  --theme-menu: #cdc2ae;
  --dark-menu: #51557E;
  --light-menu: #cdc2ae;
  --theme-hover: #ece5c7;
  --dark-hover: #816797;
  --light-hover: #ece5c7;
  --theme-text: #c2ded1;
  --dark-text: #D6D5A8;
  --light-text: #c2ded1;
  --theme-text-menu: #1B2430;
  --dark-text-menu: #D6D5A8;
  --light-text-menu: #1B2430;
}

* {
  transition: var(--transition);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
  font-weight: 900;
  color: var(--theme-text-menu);
}

body {
  margin: 0;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: "monserrat";
  background-color: var(--theme-bg);
}


/* Add a #354259 background color to the top navigation */
.topnav {
  background-color: #354259;
  overflow: hidden;
}

.cta-button {
  background-color: var(--theme-menu);
  float: left;
  color: var(--theme-text-menu);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border: none;
}

.cta-button:hover {
  background-color: var(--theme-hover);
}

.cta-button.active {
  color: #354259;
  background: var(--theme-text);
}

.cta-button-right {
  background-color: #354259;
  float: right;
  color: var(--theme-text);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border: none;
  margin-left: 100px;
}

.cta-button-right:hover {
  color: var(--theme-hover);
}

.container-table {
  max-height: 100%;
  max-width: 400px;
  background-color: var(--theme-hover);
  text-align: center;
  float: right;
}

.parameter {
  float: none;
  color: var(--theme-text-menu);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: right;
}

.tool-data {
  max-width: 100%;
  text-align: center;
  float: right;
}

.result {
  max-width: 100%;
  text-align: center;
  float: right;
}

.feedrate {
  position: relative;
  text-align: right;
}

.feedrate::after {
  position: absolute;
  top: 12px;
  right: 1.5em;
  transition: all 0.05s ease-in-out;
  color: #1B2430;
  content: var(--feed);
}

.feedrate:hover::after,
.feedrate:focus-within::after {
  right: 2.5em;
}

.rotation-speed {
  position: relative;
  text-align: right;
}

.rotation-speed::after {
  position: absolute;
  top: 12px;
  right: 1.5em;
  color: #1B2430;
  transition: all 0.05s ease-in-out;
  content: "rpm";
}

.rotation-speed:hover::after,
.rotation-speed:focus-within::after {
  right: 2.5em;
}

/* Dropdown Content */
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .units {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--theme-menu);
  min-width: 160px;
  margin-top: 48px;
  box-shadow: 0px 8px 6px 0px #354259;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: var(--theme-text-menu);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: var(--theme-hover);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Tool image set */
.tool-image {
  position: absolute;
  width: 9em;
  height: 3em;
  background: var(--toolImage);
  background-repeat: no-repeat;
  background-size: 9em 3em;
}